{
  "openapi" : "3.0.2",
  "info" : {
    "title" : "Provenance technologies institutional API",
    "description" : "Provenance technologies institutional API specification",
    "license" : {
      "name" : "Private",
      "url" : "https://provenancetech.io"
    },
    "version" : "1.0.164"
  },
  "servers" : [ {
    "url" : "https://apidev.pticlient.com/v1"
  }, {
    "url" : "https://apistaging.pticlient.com/v1"
  }, {
    "url" : "https://api.pticlient.com/v1"
  } ],
  "security" : [ {
    "signature" : [ ]
  }, {
    "userToken" : [ ]
  } ],
  "paths" : {
    "/auth/jwt" : {
      "post" : {
        "tags" : [ "Authorization" ],
        "summary" : "Get a user token",
        "operationId" : "getUserToken",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/userTokenRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "userToken",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/userToken"
                }
              }
            }
          },
          "400" : {
            "description" : "bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "forbidden"
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      }
    },
    "/users" : {
      "get" : {
        "tags" : [ "Collect User Data" ],
        "summary" : "Get the list of your users",
        "operationId" : "getListOfUsers",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Offset for pagination. If not specified, the default value is 0.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 9999999,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size for pagination. If not specified, the default value is 20.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort by field. If not specified, the default value is creation date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/userPage"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Collect User Data" ],
        "summary" : "Replace all informations for a user by the informations provided",
        "operationId" : "updateUser",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/oneOfUserSubTypes"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfUserSubTypes"
                }
              }
            }
          },
          "400" : {
            "description" : "User invalid or missing fields",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found"
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Collect User Data" ],
        "summary" : "Add a user",
        "operationId" : "addAUser",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/oneOfUserSubTypes"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully added User",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfUserSubTypes"
                }
              }
            }
          },
          "400" : {
            "description" : "Missing required fields on User",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "409" : {
            "description" : "User already exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "userStatusUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/userStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Collect User Data" ],
        "summary" : "Add information to a user",
        "operationId" : "mergeUserInfo",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/oneOfUserSubTypes"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfUserSubTypes"
                }
              }
            }
          },
          "400" : {
            "description" : "User invalid or missing fields",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found"
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}" : {
      "get" : {
        "tags" : [ "Collect User Data" ],
        "summary" : "Get the information for a specific user.",
        "description" : "This endpoint is used to get the information for a specific user. The information returned is the information that was collected for the user. PII information is not returned.",
        "operationId" : "getUser",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "pattern" : "^[a-z0-9_-]{3,255}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfUserSubTypes"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/payment-information" : {
      "get" : {
        "tags" : [ "Collect User Data" ],
        "summary" : "Get all payment information for a specific user.",
        "description" : "This endpoint is used to get the payment information for a specific user. The information returned is the information that was collected for the user. You can filter by payment information type",
        "operationId" : "getUserPaymentInformations",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "pattern" : "^[a-z0-9_-]{3,255}$",
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type of external payment information. If not specified, the default value is ENCRYPTED_CREDIT_CARD. This is used to filter the external payment information by type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/externalPaymentInformationType"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "maxItems" : 100,
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/oneOfExternalPaymentInformation"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Collect User Data" ],
        "summary" : "Add a payment information for a specific user.",
        "description" : "This endpoint is used to add a payment information for a specific user.",
        "operationId" : "addUserPaymentInformation",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "pattern" : "^[a-z0-9_-]{3,255}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/oneOfExternalPaymentInformation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "CREATED",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfExternalPaymentInformation"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/payment-information/{paymentInformationId}" : {
      "get" : {
        "tags" : [ "Collect User Data" ],
        "summary" : "Get a payment information for a specific user.",
        "description" : "This endpoint is used to get a payment information for a specific user.",
        "operationId" : "getUserPaymentInformation",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "pattern" : "^[a-z0-9_-]{3,255}$",
            "type" : "string"
          }
        }, {
          "name" : "paymentInformationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "pattern" : "^[a-z0-9_-]{3,255}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfExternalPaymentInformation"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Collect User Data" ],
        "summary" : "Delete a payment information for a specific user.",
        "description" : "This endpoint is used to delete a payment information for a specific user.",
        "operationId" : "deleteUserPaymentInformations",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "pattern" : "^[a-z0-9_-]{3,255}$",
            "type" : "string"
          }
        }, {
          "name" : "paymentInformationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "pattern" : "^[a-z0-9_-]{3,255}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "NO CONTENT"
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/validations" : {
      "post" : {
        "tags" : [ "Transaction Assessment" ],
        "summary" : "Validate that you have provided the necessary information or user assessment to perform a transaction.",
        "operationId" : "transactionInformationAssessment",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/oneOfTransactionSubTypes"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfTransactionValidationError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      }
    },
    "/users/assessments" : {
      "post" : {
        "tags" : [ "User Assessment" ],
        "summary" : "Start user assessment",
        "description" : "This endpoint is used to assess a user. Depending on what information is available on the user,  a tier level will be assigned to the assessment, the higher the level is, the more permission he will get on your platform.  Please refer to PTI documentation for more information on the tier levels configuration and scenarios.",
        "operationId" : "startUserAssessment",
        "parameters" : [ {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/kycRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "started",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/objectReference"
                }
              }
            }
          },
          "400" : {
            "description" : "User invalid or missing fields",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Happens when the targeted user is not active.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "userAssessUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/userAssessStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/assessments" : {
      "get" : {
        "tags" : [ "User Assessment" ],
        "summary" : "Get a the latest assessment for a user",
        "operationId" : "getLastKyc",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "pattern" : "^[a-z0-9_-]{3,255}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/userAssessStatusObject"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/assessments" : {
      "post" : {
        "tags" : [ "Transaction Assessment" ],
        "summary" : "Assess a transaction",
        "description" : "This endpoint is used to assess a transaction. The transaction assessment and user information requirement are evaluated. This step is also done when executing a transaction, but it can be called as a standalone.",
        "operationId" : "assessTransaction",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/oneOfTransactionSubTypes"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully added transaction log",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/objectReference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid fields on Transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Happens when a user involved in the transaction is not active.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "422" : {
            "description" : "One of these 2 cases: More information about the User is needed in order to approve the transaction. There is no approved assessment for this user that enables him to perform the operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfTransactionValidationError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "transactionAssessUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/transactionAssessStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/assessments/{requestId}" : {
      "get" : {
        "tags" : [ "Transaction Assessment" ],
        "summary" : "Get the transaction assessment status",
        "operationId" : "getTransactionAssess",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/transactionAssessStatusObject"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User of Transaction Log not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/swap/quotes/{requestId}" : {
      "get" : {
        "tags" : [ "Estimate Transaction Cost" ],
        "summary" : "Get a transaction quote status",
        "operationId" : "getTransactionQuote",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/transactionQuoteStatusObject"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User of Transaction Log not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/swap/quotes" : {
      "post" : {
        "tags" : [ "Estimate Transaction Cost" ],
        "summary" : "Estimate a transaction cost",
        "operationId" : "estimationTransactionCost",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-pti-provider-name",
          "in" : "header",
          "description" : "Used to specify which provider is responsible for handling the given operation. Ignored if the client configuration is not set for passive mode.\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/providerName"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/oneOfTransactionSubTypes"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully initiated the transaction estimate",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/objectReference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid fields on Transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Happens when the targeted user is not active.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "transactionQuoteUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/transactionQuoteStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/deposits" : {
      "post" : {
        "tags" : [ "Execute Transaction" ],
        "summary" : "Execute a deposit (crypto/fiat -in)",
        "description" : "This endpoint is used to execute a deposit (crypto/fiat -in) transaction for a user. The transaction assessment and user information requirement are evaluated before the transaction is executed.",
        "operationId" : "deposit",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-pti-provider-name",
          "in" : "header",
          "description" : "Used to specify which provider is responsible for handling the given operation. Ignored if the client configuration is not set for passive mode.\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/providerName"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/executeDepositTransaction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully initiated the transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/objectReference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid fields on Transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Happens when the targeted user is not active.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "422" : {
            "description" : "One of these 2 cases: More information about the User is needed in order to approve the transaction. There is no approved assessment for this user that enables him to perform the operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfTransactionValidationError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "transactionUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/transactionStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/purchases" : {
      "post" : {
        "tags" : [ "Marketplace" ],
        "summary" : "Execute a buy (token, nft, other)",
        "description" : "This endpoint is used to execute a digital item buy (token, nft, other) transaction for a user. The transaction assessment and user information requirement are evaluated before the transaction is executed.",
        "operationId" : "digitalItemBuy",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-pti-provider-name",
          "in" : "header",
          "description" : "Used to specify which provider is responsible for handling the given operation. Ignored if the client configuration is not set for passive mode.\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/providerName"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/executeBuyTransaction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully initiated the transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/objectReference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid fields on Transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Happens when the targeted user is not active.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "422" : {
            "description" : "One of these 2 cases: More information about the User is needed in order to approve the transaction. There is no approved assessment for this user that enables him to perform the operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfTransactionValidationError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "transactionUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/transactionStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/sales" : {
      "post" : {
        "tags" : [ "Marketplace" ],
        "summary" : "Execute a sell (token, nft, other)",
        "description" : "This endpoint is used to execute a digital item sell (token, nft, other) transaction for a user. The transaction assessment and user information requirement are evaluated before the transaction is executed.",
        "operationId" : "digitalItemSell",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-pti-provider-name",
          "in" : "header",
          "description" : "Used to specify which provider is responsible for handling the given operation. Ignored if the client configuration is not set for passive mode.\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/providerName"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/executeSellTransaction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully initiated the transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/objectReference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid fields on Transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Happens when the targeted user is not active.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "422" : {
            "description" : "One of these 2 cases: More information about the User is needed in order to approve the transaction. There is no approved assessment for this user that enables him to perform the operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfTransactionValidationError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "transactionUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/transactionStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/withdrawals" : {
      "post" : {
        "tags" : [ "Execute Transaction" ],
        "summary" : "Execute a withdrawal of fiat of crypto",
        "description" : "This endpoint is used to execute a withdrawal of fiat or crypto transaction for a user. The transaction assessment and user information requirement are evaluated before the transaction is executed.",
        "operationId" : "withdrawal",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-pti-provider-name",
          "in" : "header",
          "description" : "Used to specify which provider is responsible for handling the given operation. Ignored if the client configuration is not set for passive mode.\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/providerName"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/executeWithdrawalTransaction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully initiated the transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/objectReference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid fields on Transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Happens when the targeted user is not active.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "422" : {
            "description" : "One of these 2 cases: More information about the User is needed in order to approve the transaction. There is no approved assessment for this user that enables him to perform the operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfTransactionValidationError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "transactionUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/transactionStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/payments" : {
      "post" : {
        "tags" : [ "Execute Transaction" ],
        "summary" : "Execute a generic payment of fiat of crypto",
        "description" : "This endpoint is used to execute a generic payment of fiat or crypto transaction for a user. The transaction assessment and user information requirement are evaluated before the transaction is executed.",
        "operationId" : "payment",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-pti-provider-name",
          "in" : "header",
          "description" : "Used to specify which provider is responsible for handling the given operation. Ignored if the client configuration is not set for passive mode.\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/providerName"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/executePaymentTransaction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully initiated the transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/objectReference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid fields on Transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Happens when the targeted user is not active.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "422" : {
            "description" : "One of these 2 cases: More information about the User is needed in order to approve the transaction. There is no approved assessment for this user that enables him to perform the operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfTransactionValidationError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "transactionUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/transactionStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/transfers" : {
      "post" : {
        "tags" : [ "Execute Transaction" ],
        "summary" : "Execute a transfer between users",
        "description" : "This endpoint is used to execute a transfer between users. The transaction assessment and user information requirement are evaluated before the transaction is executed.",
        "operationId" : "transfer",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-pti-provider-name",
          "in" : "header",
          "description" : "Used to specify which provider is responsible for handling the given operation. Ignored if the client configuration is not set for passive mode.\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/providerName"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/executeTransferTransaction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully initiated the transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/objectReference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid fields on Transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Happens when the targeted user is not active.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "422" : {
            "description" : "One of these 2 cases: More information about the User is needed in order to approve the transaction. There is no approved assessment for this user that enables him to perform the operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfTransactionValidationError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "transactionUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/transactionStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/swaps" : {
      "post" : {
        "tags" : [ "Execute Transaction" ],
        "summary" : "Execute a swap of liquidity between wallets",
        "description" : "This endpoint is used to execute a swap between currencies and crypto. The transaction assessment and user information requirement are evaluated before the transaction is executed.",
        "operationId" : "swap",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
          "description" : "Unique identifier of the request. This ID must be provided and stored by the client of this API at the creation of a transaction. This ID is attached to all PTI internal operations as well as the webhook calls. This ID is required to post feedback about a transaction and get support from PTI for a problem on a transaction. Creating two transactions having the same requestId is not allowed.\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-scenario-id",
          "in" : "header",
          "description" : "Represents a user action under which transaction amounts will accumulated and will control the User assessment requirements. The values this header can take must be agreed upon and communicated to PTI. Setting unknown values here will generate an error.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-session-id",
          "in" : "header",
          "description" : "Session ID associated to a UI session for a specific user. Should match the value passed to the PTI SDK at initialization.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-disable-webhook",
          "in" : "header",
          "description" : "Set to true to disable webhook calls for this request.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-pti-provider-name",
          "in" : "header",
          "description" : "Used to specify which provider is responsible for handling the given operation. Ignored if the client configuration is not set for passive mode.\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/providerName"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/executeSwapTransaction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully initiated the transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/objectReference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid fields on Transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invalidRequestError"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Happens when the targeted user is not active.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          },
          "422" : {
            "description" : "One of these 2 cases: More information about the User is needed in order to approve the transaction. There is no approved assessment for this user that enables him to perform the operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/oneOfTransactionValidationError"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unmanagedError"
                }
              }
            }
          }
        },
        "callbacks" : {
          "transactionUpdate" : {
            "${yourWebhookAddress}" : {
              "post" : {
                "requestBody" : {
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "$ref" : "#/components/schemas/transactionStatusObject"
                      }
                    }
                  },
                  "required" : true
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/mints" : {
      "post" : {
        "tags" : [ "Execute Transaction" ],
        "summary" : "Execute a mint transaction",
        "description" : "This endpoint is used to execute a mint transaction for a user. The transaction assessment and user information requirement are evaluated before the transaction is executed.",
        "operationId" : "mint",
        "parameters" : [ {
          "name" : "x-pti-client-id",
          "in" : "header",
          "description" : "Client ID provided to you during onboarding.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/uuidLikeStr"
          }
        }, {
          "name" : "x-pti-request-id",
          "in" : "header",
[...]
