<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>{{clientId}} users</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>New Transaction</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr>
        <td>{{ u['id'] }}</td>
        <td>{{ u['name']['firstName'] }}</td>
        <td>{{ u['name']['lastName'] }}</td>
        <td><a href="/transactions/{{ u['id'] }}" class="btn btn-info" role="button">New transaction</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Create new User</h4>
    <form class="needs-validation" action="/admin/users" method="post" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="userId">User ID</label>
          <input type="text" class="form-control" name="userId" placeholder="" value="" required>
          <div class="invalid-feedback">
            User ID is required.
          </div>
        </div>
      </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Create user</button>
    </form>
  </div>
</div>

</body>
</html>
